<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="lt.vu.mybatis.model.Service" alias="Service"/>
        <typeAlias type="lt.vu.mybatis.model.Mechanic" alias="Mechanic"/>
        <typeAlias type="lt.vu.mybatis.model.Car" alias="Car"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="MANAGED"/>
            <dataSource type="JNDI">
                <property name="data_source" value="AutoServiceDataSource"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mybatis.xml/ServiceMapper.xml"/>
        <mapper resource="mybatis.xml/MechanicMapper.xml"/>
        <mapper resource="mybatis.xml/ServiceMapper.xml"/>
    </mappers>
</configuration>
